.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  margin: 0;

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 60px;
  }
}